<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>Steam Page</h1>
    
    
    <table>
    <tr>
        <th>Name</th><th>Steam id</th><th>Developes</th><th>Genre</th><th>Units Sold</th><th>Price</th><th>Revenue</th><th>Review</th>
    
    </tr>

    {% for s in spel %}
    <tr>
        <td>{{s.name}}</td><td>{{s.steam_id}}</td><td>{{s.developers}}</td><td>{{s.genre}}</td><td>{{s.units_sold}}</td><td>{{s.prices_eu}}</td><td>{{s.final_revenue}}</td><td>{{s.reviews}}</td>
    </tr>

    {% endfor %}
    </table>
</body>
</html>
