<!DOCTYPE html>
<html lang="en" style="background-color: #F0FFFF;">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href='/dataset''>Dataset</a>
        <a href="/stats">Stats and Visuals</a>
    </div>
    
    <div>
        <img src="static/review_name.png" alt="">
    </div>
    <div>
        <img src="static/popularity_genre.png" alt="">
    </div>
    <div>
        <img src="static/revenue_name.png" alt="">
    </div>
    <div>
        <img src="static/genre_pie.png" alt="">
    </div>


</body>
</html>